.card {
	margin: 1%;
}

.container-fluid {
	background-color: dimgrey;
	margin-top: 0%;
	margin-bottom: 0%;
}

nav {
	margin-top: 0%;
	margin-bottom: -1%;
}

/* nav .nav-item{
	margin-left: 1%;
	margin-right: 1%;
	padding-top: 5%;
	
} */

nav .nav-item :hover {
	background-color: #ff8040;
	transition: 0.8s all;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
}


ul {
	list-style-type:none;
	
}

#sideMenu:hover {
	color: white;
	transition: 0.8s all;
	background-color: #ff8040;
	transition: 0.8s all;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;	
}
#sideMenu{	
	height: 30px;
    padding: 15px;
    margin-bottom: 5%;
    padding-bottom: 2%;
    padding-top: 1.4%;
    position: relative;
    color:white;
}


/* li + .dropdown-item :hover {
	transition: 0.8s all;
	background-color: #ff8040;
} */

header {
	margin-top: 0%;
	margin-bottom: 0%;
}
body{
	background: #494645;
}



button.btn {
	width: 100%;
	margin-top: 1.65%;
}
/* ///////////////////////////////////////////////// */

header {
	margin-top: 0%;
	margin-bottom: 0%;
}
body{
	background: #494645;
}

button #searchbtn{
	width: 10%;
	margin-top: 0.005%;
	margin-bottom: 0.005%;
}

button.btn {
	width: 15%;
	margin-top: 1.65%;
}

/************************************************************************************/

/* search area */
input[type=text] {	
	width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 100%;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.9s ease-in-out;
	transition: width 0.9s ease-in-out;
	margin: 0%;
}

input[type=text]:focus {
	width: 60%;
	
}

 #searchbtn  {
    
    width: 6%;
    padding: 1%;
    background: #2196F3;
    color: white;
	font-size: 101%;
	box-sizing: border-box;
	margin: 0%;
	border-radius: 4px;
	border-left: 0%;
	border-radius: 5px;
	background-position: 10px 10px; 
	padding: 12px 16px 12px 16px;
	background-position: 1px; 
    cursor: pointer;
}

#searchbtn:hover {
    background: #0b7dda;
}

form.search::after {
    content: "";
    clear: both;
    display: table;
}
/************************************************************************************/
/*scrollbar*/

 /* width */
 ::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
} 

/************************************************************************************/
/* .switch {
	position: relative;
	display: inline-block;
	margin-top: 25%;
	width: 60px;
	height: 34px;
  }
  
  .switch input {display:none;}
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #2196F3;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
/*   
  /* Rounded sliders */
  /* .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  } 
   */ 
  /************************************************************************************/

  /* aplo checkbox  */
.custom-control-label::before, 
.custom-control-label::after {
top: .8rem;
width: 1.25rem;
height: 1.25rem;
}
  /************************************************************************************/

  /* button reload */

  .button {	
	padding: 3% 7%;
	font-size: 100%;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px #999;
  }
  .button2 {	
	padding: 3% 7%;
	font-size: 100%;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	/* background-color: #4CreAF50; */
	border: none;
	border-radius: 15px;
	box-shadow: 0 5px #999;
  }
  
  .button:hover {background-color: #3e8e41}

  .button2:hover {background-color: rgb(116, 19, 19)}

  .button:active {
	background-color: #39633a;
	box-shadow: 0 4px #666;
	transform: translateY(4px);
  }
  .button2:active {
	background-color: #39633a;
	box-shadow: 0 4px #666;
	transform: translateY(4px);
  }

	 /************************************************************************************/
	 
	 /* test 2 */
	 body {
		color: #6a6c6f;
		background-color: #f1f3f6;
		margin-top: 30px;
	}
	
	.container {
		max-width: 960px;
	}
	
	.table>tbody>tr.active>td,
	.table>tbody>tr.active>th,
	.table>tbody>tr>td.active,
	.table>tbody>tr>th.active,
	.table>tfoot>tr.active>td,
	.table>tfoot>tr.active>th,
	.table>tfoot>tr>td.active,
	.table>tfoot>tr>th.active,
	.table>thead>tr.active>td,
	.table>thead>tr.active>th,
	.table>thead>tr>td.active,
	.table>thead>tr>th.active {
		background-color: #fff;
	}
	
	.table-bordered > tbody > tr > td,
	.table-bordered > tbody > tr > th,
	.table-bordered > tfoot > tr > td,
	.table-bordered > tfoot > tr > th,
	.table-bordered > thead > tr > td,
	.table-bordered > thead > tr > th {
		border-color: #e4e5e7;
	}
	
	.table tr.header {
		font-weight: bold;
		background-color: #fff;
		cursor: pointer;
		-webkit-user-select: none;
		/* Chrome all / Safari all */
		-moz-user-select: none;
		/* Firefox all */
		-ms-user-select: none;
		/* IE 10+ */
		user-select: none;
		/* Likely future */
	}
	
	.table tr:not(.header) {
		display: none;
	}
	
	.table .header td:after {
		content: "\002b";
		position: relative;
		top: 1px;
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		font-style: normal;
		font-weight: 400;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		float: right;
		color: #999;
		text-align: center;
		padding: 3px;
		transition: transform .25s linear;
		-webkit-transition: -webkit-transform .25s linear;
	}
	
	.table .header.active td:after {
		content: "\2212";
	}


/************************************************************************************/
	
	 
	 
	 
	 